# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
.ipynb_checkpoints/

# Datos y artefactos de modelos (para mantener el repo ligero)
data/processed/*.csv
models/*.pkl